{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<title>Quiz Application</title>
	<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
	<script src="{% static 'js/quiz.js' %}"></script>
</head>
<body>
	<div id="container">
		<header>
			<a href="/" class="button">Go Back</a> 
			<h1>Test Question</h1>
		</header>

		<section>
			<div id="results"></div>
      
      <!-- Pass question IDs and mapped answers for JS -->
      <script>
        var questionIDs = [{% for q in questions %}{{ q.id }}{% if not forloop.last %}, {% endif %}{% endfor %}];
        var answers = [
          {% for q in questions %}
            {% if q.answer == q.option1 %}
              'a'
            {% elif q.answer == q.option2 %}
              'b'
            {% elif q.answer == q.option3 %}
              'c'
            {% elif q.answer == q.option4 %}
              'd'
            {% else %}
              ''
            {% endif %}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        ];
      </script>

			<form name="quizForm" onsubmit="return submitAnswers()">
				{% for q in questions %}
					<h3>{{ q.id }}. {{ q.question }}</h3>
					<input type="radio" name="q{{ q.id }}" value="a" id="q{{ q.id }}a"> a. {{ q.option1 }}<br><br>
					<input type="radio" name="q{{ q.id }}" value="b" id="q{{ q.id }}b"> b. {{ q.option2 }}<br><br>
					<input type="radio" name="q{{ q.id }}" value="c" id="q{{ q.id }}c"> c. {{ q.option3 }}<br><br>
					<input type="radio" name="q{{ q.id }}" value="d" id="q{{ q.id }}d"> d. {{ q.option4 }}<br><br>
				{% endfor %}
				<br><br>
				<input type="submit" value="Submit Answer">
			</form>
			<br><br>
			<a href="/questions" class="button">Reset</a>
		</section>
		<footer>
			<p>Copyright &copy;2020, All rights reserved</p>
		</footer>
	</div>
</body>
</html>
